{% extends "auth_base.html" %}

{% block title %}Login{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}?v={{ cache_version }}">
{% endblock %}

{% block content %}
    <div class="rectangle">
        <div class="column">
            <div class="header-container">
                <img src="{{ url_for('static', filename='images/NEUST_logo.png') }}?v={{ cache_version }}" alt="NEUST Logo" class="neust-logo">
                <div class="university-info">
                    <p>Republic of the Philippines</p>
                    <p><b>Nueva Ecija University of Science and Technology</b></p>
                    <p>Cabanatuan City, Nueva Ecija, Philippines</p>
                </div>
            </div>
            <div class="system-title-container">
                <img src="{{ url_for('static', filename='images/OSOAD_logo.png') }}?v={{ cache_version }}" alt="OSOAD Logo" class="logo">
                <p class="system-title">Non-Political Organization</p>
                <p class="system-title">Management System</p>
            </div>
        </div>
        <div class="column">
            <div class="login-container">
                <h3>Login</h3>
                <div id="error-container" class="error-message"></div>
                <div id="warning-container" class="warning-message"></div>
                <form id="login-form">
                    <label for="email">Email</label>
                    <input type="email" id="register-email" name="email" placeholder="Enter your email">
                    <label for="password">Password</label>
                    <input type="password" id="register-password" name="entrykey" placeholder="Password" >
                    <div class="check-forgot-container">
                        <div class="remember-me">
                            <input type="checkbox" id="remember" name="remember">
                            <label for="remember">Remember me</label>
                        </div>
                        <a href="#" class="forgotpassword">Forgot Password?</a>
                    </div>
                    <button type="submit" id="login-button">Sign in</button>
                    <p>Don't have an account? <a href="/register">Register here</a></p>
                </form>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/login.js') }}?v={{ cache_version }}"></script>
{% endblock %}