<div class="custom-sidebar">
    <div class="custom-menu-btn">
        <i class="ph-bold ph-caret-left"></i>
    </div>
    <div class="custom-head">
        <div class="custom-user-details">
        <p class="custom-title">Organization</p>
        <p class="custom-name">Technological Advancement and Innovation Society of Future Engineers</p>
        </div>
    </div>
    <div class="custom-nav">
        <div class="custom-menu">
        <p class="custom-title">Main</p>
        <ul>
            <li class="{{ 'active' if active_page == 'application' }}">
            <a href="{{ url_for('user_organization.applicationfirststep') }}">
                <i class="custom-icon ph-bold ph-file-text"></i>
                <span class="custom-text">Application</span>
            </a>
            </li>
            <li class="{{ 'active' if active_page == 'manageorganization' }}">
                {% if application and application.status == 'Verified' %}
                <a href="{{ url_for('user_routes.manageorganization') }}">
                {% else %}
                <a href="{{ url_for('user_routes.blockmanageaccess') }}">
                {% endif %}
                    <i class="custom-icon ph-bold ph-buildings"></i>
                    <span class="custom-text">Manage Organization</span>
                </a>
            </li>
            <li class="{{ 'active' if active_page in ['userrenewal', 'reports'] }}">
                <a href="#">
                    <i class="custom-icon ph-bold ph-gear"></i>
                    <span class="custom-text">Manage Documents</span>
                </a>
                <ul class="custom-sub-menu">
                    <li class="{{ 'active' if active_page == 'userrenewal' }}">
                    <a href="{{ url_for('user_routes.userrenewal') }}">
                        <span class="custom-text">Renewal</span>
                    </a>
                    </li>
                    <li class="{{ 'active' if active_page == 'userreport' }}">
                    <a href="{{ url_for('user_routes.userreport') }}">
                        <span class="custom-text">Reports</span>
                    </a>
                    </li>
                </ul>
            </li>
            <li class="{{ 'active' if active_page == 'documentcompilation' }}">
                <a href="{{ url_for('user_routes.documentcompilation') }}">
                    <i class="custom-icon ph-bold ph-stack"></i>
                    <span class="custom-text">Document Compilation</span>
                </a>
            </li>
        </ul>
        </div>
        <div class="custom-menu">
        <ul>
        </ul>
        </div>
    </div>
    <div class="custom-menu">
        <p class="custom-title">Account</p>
        <ul>
        <li class="{{ 'active' if active_page == 'useraccount' }}"">
            <a href="{{ url_for('user_routes.useraccount') }}">
            <i class="custom-icon ph-bold ph-info"></i>
            <span class="custom-text">My Account</span>
            </a>
        </li>
        <li>
            <a href="#" onclick="document.getElementById('custom-logoutDialog').showModal(); return false;">
                <i class="custom-icon ph-bold ph-sign-out"></i>
                <span class="custom-text">Logout</span>
            </a>
        </li>
        
        <!-- Logout Confirmation Dialog -->
        <dialog id="custom-logoutDialog" class="custom-dialog">
            <h2>Logout Confirmation</h2>
            <p>Are you sure you want to log out?</p>
            <div class="custom-logout-buttons">
                <button class="custom-confirm-btn" onclick="window.location.href='{{ url_for('main.logout') }}'">Confirm</button>
                <button class="custom-cancel-btn" onclick="document.getElementById('custom-logoutDialog').close()">Cancel</button>
            </div>
        </dialog>
        
        </ul>
    </div>
</div>